*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    --bg-main-col: hsl(0, 0%, 100%);
    --bg-top-col: hsl(225, 100%, 98%);
    --card-bg-col: hsl(227, 47%, 96%);
    --txt-off-col:hsl(228, 12%, 44%);
    --txt-main-col:hsl(230, 17%, 14%);
    --success-col:hsl(163, 72%, 41%);
    --fail-col:hsl(356, 69%, 56%);
    --fb-col:hsl(208, 92%, 53%);
    --twitter-col:hsl(203, 89%, 53%);
    --yt-col:hsl(348, 97%, 39%);
    --ig-grad: linear-gradient(to left,#fdc468,#df4996);
}

html,body{
    height: 100%;
    overflow-x: hidden;
    background-color: var(--bg-main-col);
    font-family: 'Inter', sans-serif;
}

main{
    position: absolute;
    z-index: 1;
    width: 80%;
    top: 50px;
    left: 10%;
}

#top-col{
    background-color: var(--bg-top-col);
    height: 30%;
    width: 100%;
    position: absolute;
    z-index: 0;
}

.header{
    width: 100%;
    display: flex;
    margin-bottom: 3rem;
    margin-top: 3rem;
}

h1{
    font-size: 2rem;
    font-weight: 700;
    color: var(--txt-main-col);
}

h5{
    font-size: 1rem;
    font-weight: 400;
    color: var(--txt-off-col);
}

#light-switch{
    margin-left: auto;
    display: flex;
    align-items: center;
    color: var(--txt-off-col);
    font-size: 1.3rem;
    font-weight: 700;
}

#pill{
    margin-left: 1rem;
    width: 80px;
    height: 30px;
    border-radius: 17px;
    background-color: var(--txt-off-col);
    position: relative;
}

#ball{
    position: absolute;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: var(--bg-top-col);
    top: 3px;
    left: 3px;
    z-index: 1;
}

.grid{
    display: grid;
    grid-template-columns: 100%
}

.grid-item-lg{
    background-color: var(--card-bg-col);
    margin-bottom: 2rem;
    height: 18rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.grid-item-lg .username{
    display: flex;
    color: var(--txt-off-col);
    margin-bottom: 1rem;
}

.grid-item-lg img{
    margin-right: 0.2rem;
}

.grid-item-lg .count{
    font-size: 3rem;
    font-weight: 700;
    color: var(--txt-main-col);
}

.grid-item-lg .unit{
    font-size: 1rem;
    font-weight: 400;
    color: var(--txt-off-col);
    letter-spacing: 0.2rem;
    margin-bottom: 3rem;
}

.grid-item-lg .stat{
    display: flex;
    align-items: center;
}

.success{
    color: var(--success-col)
}

.fail{
    color: var(--fail-col);
}

#facebook{
    border-top: var(--fb-col) 3px solid;
}

#twitter{
    border-top: var(--twitter-col) 3px solid;
}

#instagram{
    position: relative;
}

#instagram .border{
    position: absolute;
    top:0px;
    height: 3px;
    width: 100%;
    background-image: var(--ig-grad);
}

#youtube{
    border-top: var(--yt-col) 3px solid;
}

.grid-item-sm{
    background-color: var(--card-bg-col);
    height: 12rem;
    margin-bottom: 2rem;
    position: relative;
}

.grid-item-sm .username{
    position: absolute;
    right: 10%;
    top:10%;
    color: var(--txt-off-col);

}

.grid-item-lg img{
    margin-right: 0.2rem;
}

.grid-item-sm .count{
    font-size: 3rem;
    font-weight: 700;
    color: var(--txt-main-col);
    position: absolute;
    bottom: 10%;
    left: 10%;
}

.grid-item-sm .unit{
    font-size: 1rem;
    font-weight: 400;
    color: var(--txt-off-col);
    position: absolute;
    top: 10%;
    left: 10%;
}

.grid-item-sm .stat{
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 10%;
    right: 10%;
}




@media (min-width:960px){
    .grid{
        grid-template-columns: repeat(4,23.5%);
        column-gap: 2%;
    }
}